<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.dao.Admin_DAO">

	<select id="login" resultType="com.homework.model.User">
        select 
        id ,
		user as account,
		'0' as e_mail,
		real_name as name,
		'0' as phone,
		'Admin' as role
		from admin
		where
		user = #{user}
		and
		hashed_password = #{hashed_password}
	</select>
</mapper>