<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>sjs-shop-info</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.homework.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllHomeworkCount</display-name>
		<servlet-name>GetAllHomeworkCount</servlet-name>
		<servlet-class>com.homework.servlet.student.GetAllHomeworkCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllHomeworkCount</servlet-name>
		<url-pattern>/GetAllHomeworkCount</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllHomework</display-name>
		<servlet-name>GetAllHomework</servlet-name>
		<servlet-class>com.homework.servlet.student.GetAllHomework</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllHomework</servlet-name>
		<url-pattern>/GetAllHomework</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_grade</display-name>
		<servlet-name>get_grade</servlet-name>
		<servlet-class>com.homework.servlet.the_class.get_grade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_grade</servlet-name>
		<url-pattern>/get_grade</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_the_class</display-name>
		<servlet-name>get_the_class</servlet-name>
		<servlet-class>com.homework.servlet.the_class.get_the_class</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_the_class</servlet-name>
		<url-pattern>/get_the_class</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_students_to_admin</display-name>
		<servlet-name>get_students_to_admin</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.get_students_to_admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_students_to_admin</servlet-name>
		<url-pattern>/get_students_to_admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_students_count_to_admin</display-name>
		<servlet-name>get_students_count_to_admin</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.get_students_count_to_admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_students_count_to_admin</servlet-name>
		<url-pattern>/get_students_count_to_admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAloneHomework</display-name>
		<servlet-name>GetAloneHomework</servlet-name>
		<servlet-class>com.homework.servlet.teacher.GetAloneHomework</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAloneHomework</servlet-name>
		<url-pattern>/teacher/GetAloneHomework</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>delete_student</display-name>
		<servlet-name>delete_student</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.delete_student</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete_student</servlet-name>
		<url-pattern>/delete_student</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>search_student</display-name>
		<servlet-name>search_student</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.search_student</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search_student</servlet-name>
		<url-pattern>/search_student</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>search_student_count</display-name>
		<servlet-name>search_student_count</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.search_student_count</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search_student_count</servlet-name>
		<url-pattern>/search_student_count</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>add_student</display-name>
		<servlet-name>add_student</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.add_student</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add_student</servlet-name>
		<url-pattern>/add_student</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_all_class</display-name>
		<servlet-name>get_all_class</servlet-name>
		<servlet-class>com.homework.servlet.get_all_class</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_all_class</servlet-name>
		<url-pattern>/get_all_class</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditorHomework</display-name>
		<servlet-name>EditorHomework</servlet-name>
		<servlet-class>com.homework.servlet.student.EditorHomework</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditorHomework</servlet-name>
		<url-pattern>/EditorHomework</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_Teacher_count</display-name>
		<servlet-name>get_Teacher_count</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.get_Teacher_count</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_Teacher_count</servlet-name>
		<url-pattern>/get_Teacher_count</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>getTeacherByPage</display-name>
		<servlet-name>getTeacherByPage</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.getTeacherByPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getTeacherByPage</servlet-name>
		<url-pattern>/getTeacherByPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>get_TeacherAdd</display-name>
		<servlet-name>get_TeacherAdd</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.get_TeacherAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_TeacherAdd</servlet-name>
		<url-pattern>/get_TeacherAdd</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TeaCher_Delete</display-name>
		<servlet-name>Get_TeaCher_Delete</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.Get_TeaCher_Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TeaCher_Delete</servlet-name>
		<url-pattern>/Get_TeaCher_Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TheClass_Count</display-name>
		<servlet-name>Get_TheClass_Count</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_TheClass_Count</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TheClass_Count</servlet-name>
		<url-pattern>/Get_TheClass_Count</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TheClassByPage</display-name>
		<servlet-name>Get_TheClassByPage</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_TheClassByPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TheClassByPage</servlet-name>
		<url-pattern>/Get_TheClassByPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TheClass_Delete</display-name>
		<servlet-name>Get_TheClass_Delete</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_TheClass_Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TheClass_Delete</servlet-name>
		<url-pattern>/Get_TheClass_Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_The_Class_Add</display-name>
		<servlet-name>Get_The_Class_Add</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_The_Class_Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_The_Class_Add</servlet-name>
		<url-pattern>/Get_The_Class_Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Search_TeaCher_Count</display-name>
		<servlet-name>Get_Search_TeaCher_Count</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.Get_Search_TeaCher_Count</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Search_TeaCher_Count</servlet-name>
		<url-pattern>/Get_Search_TeaCher_Count</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Search_Teacher</display-name>
		<servlet-name>Get_Search_Teacher</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.Get_Search_Teacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Search_Teacher</servlet-name>
		<url-pattern>/Get_Search_Teacher</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Student_Query</display-name>
		<servlet-name>Get_Student_Query</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.Get_Student_Query</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Student_Query</servlet-name>
		<url-pattern>/Get_Student_Query</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Updata_Student</display-name>
		<servlet-name>Get_Updata_Student</servlet-name>
		<servlet-class>com.homework.servlet.admin.student.Get_Updata_Student</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Updata_Student</servlet-name>
		<url-pattern>/Get_Updata_Student</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Teacher_Query</display-name>
		<servlet-name>Get_Teacher_Query</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.Get_Teacher_Query</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Teacher_Query</servlet-name>
		<url-pattern>/Get_Teacher_Query</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_Teacher_Updata</display-name>
		<servlet-name>Get_Teacher_Updata</servlet-name>
		<servlet-class>com.homework.servlet.admin.teacher.Get_Teacher_Updata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_Teacher_Updata</servlet-name>
		<url-pattern>/Get_Teacher_Updata</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TheClass_Query</display-name>
		<servlet-name>Get_TheClass_Query</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_TheClass_Query</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TheClass_Query</servlet-name>
		<url-pattern>/Get_TheClass_Query</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Get_TheClass_Updata</display-name>
		<servlet-name>Get_TheClass_Updata</servlet-name>
		<servlet-class>com.homework.servlet.admin.the_class.Get_TheClass_Updata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get_TheClass_Updata</servlet-name>
		<url-pattern>/Get_TheClass_Updata</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetStudent</servlet-name>
		<servlet-class>com.homework.servlet.teacher.GetStudent</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetHomeWorkContent</servlet-name>
		<servlet-class>com.homework.servlet.teacher.GetHomeWorkContent</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetStudent_NO</servlet-name>
		<servlet-class>com.homework.servlet.GetStudent_NO</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetClassName</servlet-name>
		<servlet-class>com.homework.servlet.teacher.GetClassName</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetURL</servlet-name>
		<servlet-class>com.homework.servlet.teacher.GetURL</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SetHomeWork</servlet-name>
		<servlet-class>com.homework.servlet.teacher.SetHomeWork</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetStudent</servlet-name>
		<url-pattern>/teacher/GetStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHomeWorkContent</servlet-name>
		<url-pattern>/teacher/GetHomeWorkContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStudent_NO</servlet-name>
		<url-pattern>/teacher/GetStudent_NO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetClassName</servlet-name>
		<url-pattern>/teacher/GetClassName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetURL</servlet-name>
		<url-pattern>/teacher/GetURL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetHomeWork</servlet-name>
		<url-pattern>/teacher/SetHomeWork</url-pattern>
	</servlet-mapping>
</web-app>
